<footer class="footer">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-3 is-12-mobile">
                <figure class="copyright">
                    <img src="https://www.qingcloud.com/static/assets/images/icons/common/footer_logo.svg" alt="logo">
                    <figcaption>© QingCloud 2019</figcaption>
                </figure>
                <div class="is-flex-desktop" style="align-items: center">
                    <div class="qc-wechat-qrcode">
                        <figure>
                            <img src="https://www.qingcloud.com/static/assets/images/qc_wechat_qrcode.png">
                        </figure>
                    </div>
                    <div class="menu">
                        <ul class="menu-list">
                            <li>
                                <span class="tel"><i class="icon is-small icon-tel"></i> 400-8576-886</span>
                            </li>
                            <li>
                                <a href="mailto:contactus@yunify.com"><i class="icon is-small icon-email"></i> 邮箱</a>
                            </li>
                            <li>
                                <a href="http://weibo.com/u/3563234355"><i class="icon is-small icon-weibo"></i> 微博</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">关于我们</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://www.qingcloud.com/aboutus">公司概况</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/company-activities/enterprise-activity/">企业动态</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/case_news">案例新闻</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/press">媒体报道</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/jobs">加入我们</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/contactus">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">账户管理</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://console.qingcloud.com/finance/wallet/">充值付款</a>
                        </li>
                        <li>
                            <a href="https://console.qingcloud.com/finance/invoices/">发票管理</a>
                        </li>
                        <li>
                            <a href="https://console.qingcloud.com/finance/billing/">账单管理</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">服务支持</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://beian.qingcloud.com/icp">备案流程</a>
                        </li>
                        <li>
                            <a href="//status.qingcloud.com/">服务状态</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/terms">服务条款</a>
                        </li>
                        <li>
                            <a href="https://docs.qingcloud.com">使用文档</a>
                        </li>
                        <li>
                            <a href="https://docs.qingcloud.com/product/faq/">常见问题</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column is-2 is-12-mobile">
                <div class="menu">
                    <h3 class="menu-label">合作与生态</h3>
                    <ul class="menu-list">
                        <li>
                            <a href="https://www.qingcloud.com/partners">合作伙伴</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/startup">创业扶持</a>
                        </li>
                        <li>
                            <a href="https://www.qingcloud.com/nonprofits">公益支持</a>
                        </li>
                        <li>
                            <a href="https://community.qingcloud.com/">青云社区</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column has-text-centered">
                <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备13019086号</a>
                <a target="_blank" href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action"><img src="https://www.qingcloud.com/static/assets/images/ghs.png" style="vertical-align: middle">&nbsp;<span>京公网安备11010502024565</span></a>
            </div>
        </div>
        <div class="static-button-icon qimo-btn">
            <div class="hexagon" onclick="qimoChatClick()" data-gio="{id: 'advisoryClick'}">
                <div class="static-group-button-item"></div>
            </div>
            <div class="square">
                <a target="_blank" href="https://partner.quanxiangyun.com/qingcloud/register?site=qingcloud_pc_website" class="square-item cooperation">
                    <figure class="image"></figure>
                    <p>合作</p>
                </a>
                <a target="_blank" href="https://docs.qingcloud.com/product/" class="square-item documents">
                    <figure class="image"></figure>
                    <p>文档</p>
                </a>
                <a target="_blank" href="https://www.qingcloud.com/pricing-regulation" class="square-item pricing">
                    <figure class="image"></figure>
                    <p>定价</p>
                </a>
            </div>
            <div id="back-to-top" class="show"><figure class="image"></figure></div>
        </div>
    </div>
<script>
    // 给图片添加链接
    $(document).ready(function() {
        $("p img").each(function() {
            var strA = "<a class='fancybox' href='" + this.src + "'></a>";
            $(this).wrapAll(strA);
        });
        // fancybox
        $(".fancybox").fancybox({
            openEffect	: 'elastic',
            closeEffect	: 'elastic',
        });
    });
    </script>
</footer>
