<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="/assets/images/favicon.ico?v=1500977953" type="image/x-icon">
    <meta name="keywords" content="天翼云，QingCloud，云计算，云主机，云服务器，对象存储，云存储，公有云，私有云"><meta name="description" content="天翼云">    <title>帮助与文档 | 天翼云ctyun</title>

    <link rel="stylesheet" id="bulma-style-css" href="/assets/css/bulma.css?v=1516932976" type="text/css" media="all">
<link rel="stylesheet" id="common-style-css" href="https://s3.qingcloud.com/static/assets/css/common.css?v=1576682416" type="text/css" media="all">
    
    
    <link rel="stylesheet" href="/assets/css/navmenu.css?v=1576465211">
    <link rel="stylesheet" href="/assets/css/docs.css?v=1577243982">
    <script type="text/javascript" src="/assets/js/jquery-2.2.4.js?v=1510299508"></script>

    <script type="text/javascript">
        var _elqQ = _elqQ || [];
        _elqQ.push(['elqSetSiteId', '679417733']);
        _elqQ.push(['elqTrackPageView']);
        
        (function () {
            function async_load() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                s.src = '//img07.en25.com/i/elqCfg.min.js';
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            }
            if (window.addEventListener) window.addEventListener('DOMContentLoaded', async_load, false);
            else if (window.attachEvent) window.attachEvent('onload', async_load); 
        })();
    </script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-136833840-1"></script>
    <script src="https://s3.qingcloud.com/static/assets/js/navmenu.js?v=1562920299"></script>
    <script src="https://s3.qingcloud.com/static/assets/js/stickynavbar.js?v=1563179960"></script>
    <script src="https://s3.qingcloud.com/static/assets/js/common.js?v=1572943364"></script>
            <link rel="stylesheet" href="https://s3.qingcloud.com/static/assets/css/home.css?v=1576682416">
    <link type="text/css" rel="stylesheet" href="//cc_webchat.yunify.com//stylesheets/chatStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
