<header class="header">
    <div class="nav-wrapper">
        <nav class="navbar navmenu">
            <div class="container with-no-position">
                <div class="navbar-end is-hidden-mobile header-account">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control user-links is-hidden">
                                <a class="nav-item console" href="https://cloud.bj189.cn/">控制台 →</a>
                            </p>
                            <p class="control navbar-user">
                                <a class="nav-item" href="https://cloud.bj189.cn/">登录</a>
                            </p>
                            <div class="navbar-user">
                                <a class="button is-primary" href="https://cloud.bj189.cn/signup/"
                                    data-gio="{id:'createPageView',var:{sourceType_var:'导航栏'}}">注册</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navmenu">
            <div class="container with-no-position">
                <div class="navbar-item navbar-menu main-nav is-hidden-touch">
                    <a class="navbar-item" target="_blank" href="https://cloud.bj189.cn/bjctpg1/overview/">总览</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/instances/"target="_blank">计算</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/routers/" target="_blank">网络</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/volumes/" target="_blank">存储</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/security_groups/" target="_blank">安全</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/app/app-00r26u27/" target="_blank">数据库与缓存</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/app/app-6iuoe9qs/" target="_blank">大数据平台</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/app/app-cmgbd5k2/" target="_blank">containers</a>
                    <a class="navbar-item" href="https://cloud.bj189.cn/bjctpg1/apps/browse/" target="_blank">AppCenter</a>
                </div>
            </div>
        </nav>
    </div>
</header>
