<header class="header">
    <div class="nav-wrapper">
        <nav class="navbar navmenu">
            <div class="container with-no-position">
                <div class="navbar-end is-hidden-mobile header-account">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control user-links is-hidden">
                                <a class="nav-item console" href="https://cloud.bj189.cn/">控制台 →</a>
                            </p>
                            <p class="control navbar-user">
                                <a class="nav-item" href="https://cloud.bj189.cn/">登录</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
